<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planbuyandeat">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanBuyAndEat">
        <activity android:name=".BasicMapDisplayer"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".Compte.ChangeInfo"
            android:theme="@style/Theme.PlanBuyAndEat.NoActionBar" />
        <activity
            android:name=".Compte.ChangePass"
            android:theme="@style/Theme.PlanBuyAndEat.NoActionBar" />
        <activity android:name=".BottomNavigationBar" />
        <activity
            android:name=".Identification.Signup"
            android:theme="@style/Theme.PlanBuyAndEat.NoActionBar" />
        <activity
            android:name=".Identification.Login"
            android:theme="@style/Theme.PlanBuyAndEat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Planning.Settings.Settings"
            android:theme="@style/Theme.PlanBuyAndEat.NoActionBar" />
        <activity
            android:name=".ListesDesCourses.LDCView.LDCItems"
            android:theme="@style/Theme.PlanBuyAndEat.NoActionBar" />
        <activity
            android:name=".Repertoire.Ingredients.Ingredients"
            android:theme="@style/Theme.PlanBuyAndEat.NoActionBar" />
    </application>

</manifest>